<!DOCTYPE html>
<html lang="en">
<head>
    <article class="MessageViewerLayout__body--1xwHL js-message-body" style="max-width: 441px;"><div class="MessageBody_body_pmf3j react-message-wrapper__body">


<div style="background:#ededed;max-width:1000px">
  	<div style="padding:40px 0 40px 0;text-align:center">
		<img src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Fcdn.websky.aero%2Fcontent%2FN4%2Fimages%2Fnordwind-logo.png&amp;proxy=yes&amp;key=297bf98d9c36f105bfc06a1098f9f5a3" style="max-width:250px">
	</div>
	<table style="width:100%">
        <tbody><tr><td style="min-width:20px"></td><td>
				<div style="background:#ffffff;border-radius:8px">
					<div style="border-bottom-color:#cdcdcd;border-bottom-style:dashed;border-bottom-width:1px;color:#686868;font-family:'arial';font-size:19px;font-weight:bold;line-height:30px;padding:24px;text-align:center">{{ login }}, благодарим за регистрацию. </div>
                    <div style="border-bottom-color:#cdcdcd;border-bottom-style:dashed;border-bottom-width:1px;color:#686868;font-family:'arial';font-size:19px;font-weight:bold;line-height:30px;padding:24px;text-align:center">{{ login }} Подтвердите свою электронную почту с помощью кода</div>
					<div style="color:#353535;font-family:'arial';font-size:63px;line-height:72px;padding:28px 24px 28px 24px;text-align:center">{{ code }}</div>
				</div>
			</td><td style="min-width:20px"></td></tr>
        </tbody>
    </table>
    <div></div>>
</div>





</div></article>
</head>
<body>

</body>
</html>